<div class="container">
  <br>
  <h2>Create a new Event</h2>
  <br>
  <div>
    <form class="form" [formGroup]="newEventForm" (ngSubmit)="onSubmit(newEventForm.value)">

      <div class="row">

        <div class="col-lg-6">
          <!-- -Name of event -->
          <div class="form-group">
            <label for="name">Event Name:</label>
            <input class="form-control" type="text" id="name" formControlName="name" required />
          </div>
        </div>

        <div class="col-lg-6">
          <!-- -Event Category -->
          <div class="form-group">
            <label for="category">Event Category:</label>
            <input class="form-control" type="text" id="category" formControlName="category" required  />
          </div>
        </div>

      </div>

      <!-- -Event Description -->
      <div class="form-group">
        <label for="description">Event Description:</label>
        <textarea class="form-control" id="description" formControlName="description" required ></textarea>
      </div>

      <div class="row">

        <div class="col-lg-6">
          <!-- -Date and Time -->

          <div class="form-group">
            <label for="date">Date:</label>
            <input class="form-control" type="text" id="date" formControlName="date"  required />
          </div>
        </div>

        <div class="col-lg-6">

          <div class="form-group">
            <label for="time">Time:</label>
            <input class="form-control" type="text" id="time" formControlName="time"  required />
          </div>
        </div>

      </div>

      <!-- -Location of Event -->
      <div class="form-group">
        <label for="location">Event Location:</label>
        <input class="form-control" type="text" id="location" formControlName="location"  required />
      </div>

      <br>
      <button class="btn btn-dark" type="submit">Save Event</button>
    </form>
  </div>

  <footer>
    <br>
  </footer>
</div>