<form action="/new-event" method="post">
    <!-- -Name of event -->

    <label for="name">Event Name:</label>
    <input type="text" id="name" name="name" />

    <br>
    <br>

    <!-- -Event Category -->

    <label for="category">Event Category:</label>
    <input type="text" id="category" name="category" />

    <br>
    <br>

    <!-- -Event Description -->

    <label for="description">Event Description:</label>
    <input type="text" id="description" name="description" />

    <br>
    <br>

    <!-- -Date and Time -->

    <label for="date">Date:</label>
    <input type="text" id="date" name="date" />

    <br>
    <br>

    <label for="time">Time:</label>
    <input type="text" id="time" name="time" />

    <br>
    <br>

    <!-- -Location of Event -->

    <label for="location">Event Location:</label>
    <input type="text" id="location" name="location" />

    <br>
    <br>

    <button type="submit">Save Event</button>
</form>